@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);
/* http://meyerweb.com/eric/tools/css/reset/ 
 *    v2.0 | 20110126
 *       License: none (public domain)
 *       */
* {
  box-sizing: border-box; }

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  text-decoration: none;
  color: #000; }

html {
  font-size: 16px; }

body {
  font-family: 'Lato', sans-serif; }

h1 {
  font-size: 2rem; }

h2 {
  font-size: 1.75rem; }

h3 {
  font-size: 1.5rem; }

h4 {
  font-size: 1.25rem; }

#pageWrap {
  max-width: 1024px; }
  @media (min-width: 800px) {
    #pageWrap {
      margin: 25px auto 0; } }

#navWrap {
  position: absolute;
  z-index: 1;
  width: 70%; }
  @media (min-width: 600px) {
    #navWrap {
      width: 40%; } }
  @media (min-width: 800px) {
    #navWrap {
      position: relative;
      float: left;
      z-index: 3;
      width: 30%;
      margin: 0 3% 20px 0;
      padding: 10px; } }
  @media (min-width: 1024px) {
    #navWrap {
      width: 22%; } }

.main_menu li {
  text-align: center;
  position: relative;
  border-bottom: 1px solid #fff;
  background-color: #282828; }
.main_menu a {
  position: relative;
  display: inline-block;
  z-index: 5;
  width: 100%;
  padding: 15px 20px;
  text-transform: uppercase;
  cursor: pointer;
  color: #fff; }
.main_menu .parent_link a:before {
  content: '+ '; }
.main_menu .expanded {
  height: 100%; }
@media (min-width: 800px) {
  .main_menu {
    margin: 0 0 20px 0; }
    .main_menu ul li:first-child {
      border-top: 1px dotted #000; }
    .main_menu li {
      border-bottom: 1px dotted #000;
      background-color: #fff; }
    .main_menu a {
      color: grey;
      padding: 20px 20px; }
    .main_menu .parent_link a:hover + ul, .main_menu .child_menu:hover {
      left: 101%; }
    .main_menu .parent_link:after {
      content: ">";
      position: absolute;
      top: 15px;
      right: 0px;
      z-index: 1;
      font-size: 1.5rem;
      color: grey; }
    .main_menu .parent_link a:before {
      display: none; } }

.child_menu {
  height: 0;
  overflow: hidden; }
  .child_menu li {
    background-color: #000; }
  @media (min-width: 800px) {
    .child_menu {
      position: absolute;
      left: -9999px;
      top: -1px;
      z-index: 10;
      height: 100%;
      overflow: visible; }
      .child_menu li {
        background-color: #fff;
        border-right: 2px solid aqua;
        width: 200px; } }

.social_menu {
  text-align: center;
  margin: 15px 0; }
  .social_menu li {
    display: inline-block;
    padding: 0 5px;
    text-align: center; }
    @media (min-width: 1024px) {
      .social_menu li {
        padding: 0; } }
  @media (min-width: 800px) {
    .social_menu {
      margin: 0; } }

.nav_banner {
  width: 90%;
  border: 1px solid grey;
  padding: 60px;
  margin: 20px auto;
  text-align: center; }

#mainWrap {
  position: relative;
  z-index: 2;
  width: 100%;
  background-color: #fff;
  transition: -webkit-transform 0.5s linear; }
  @media (min-width: 800px) {
    #mainWrap {
      width: 67%;
      float: left; } }
  @media (min-width: 1024px) {
    #mainWrap {
      width: 75%; } }
  #mainWrap main {
    padding: 20px 25px 0; }
    #mainWrap main p {
      font-size: 0.8125rem;
      line-height: 1rem;
      margin: 20px 0; }
    #mainWrap main section {
      margin: 40px 0; }
    @media (min-width: 1024px) {
      #mainWrap main {
        padding: 0; }
        #mainWrap main p {
          font-size: 1.1rem;
          font-weight: 300; } }

.shifted {
  -webkit-transform: translateX(70%); }
  @media (min-width: 600px) {
    .shifted {
      -webkit-transform: translateX(40%); } }
  @media (min-width: 800px) {
    .shifted {
      -webkit-transform: none; } }

.page_header hgroup {
  text-align: center;
  width: 100%; }
  @media (min-width: 800px) {
    .page_header hgroup {
      display: inline-block;
      width: 48%;
      margin: 0 3% 0 0;
      text-align: left;
      vertical-align: top; } }
  @media (min-width: 1024px) {
    .page_header hgroup {
      width: 61%; } }
@media (min-width: 800px) {
  .page_header {
    margin: 15px 0; } }

.lang_select {
  display: none;
  font-size: 0.8rem;
  margin: 0 0 25px; }
  @media (min-width: 800px) {
    .lang_select {
      display: block; } }

.site_name {
  display: block;
  width: 100%;
  padding: 10px 0;
  color: #fff;
  background-color: #282828;
  font-size: 2rem; }
  @media (min-width: 800px) {
    .site_name {
      font-size: 3.125rem;
      background-color: #fff;
      color: #000; } }

.tagline {
  display: none;
  font-size: 1.375rem; }
  @media (min-width: 800px) {
    .tagline {
      display: block;
      padding: 10px 0;
      color: lightgrey; } }

.formWrap {
  display: none;
  width: 48%;
  text-align: center;
  background-color: lightgrey;
  padding: 15px; }
  .formWrap p {
    font-size: 0.8125rem; }
  .formWrap label {
    position: absolute;
    left: -9999px; }
  .formWrap input, .formWrap select {
    width: 100%;
    padding: 2px 0;
    margin: 3px 0; }
  .formWrap button {
    width: 30%; }
  @media (min-width: 800px) {
    .formWrap {
      display: inline-block; } }
  @media (min-width: 1024px) {
    .formWrap {
      width: 35%; } }

.burger {
  float: left;
  position: relative;
  top: 8px;
  left: 15px;
  z-index: 5;
  cursor: pointer; }
  @media (min-width: 800px) {
    .burger {
      display: none; } }

.page_title {
  margin: 10px 0;
  font-weight: 300; }
  @media (min-width: 800px) {
    .page_title {
      width: 100%;
      padding: 7px 0;
      text-align: center;
      text-transform: uppercase;
      font-size: 1.5rem;
      background-color: lightgrey; } }

.quote_block {
  border-top: 1px dotted lightgrey;
  border-bottom: 1px dotted lightgrey;
  padding: 12px 5px;
  margin: 15px 0;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 300;
  letter-spacing: 0.5px;
  font-style: italic; }
  @media (min-width: 600px) {
    .quote_block {
      padding: 20px; } }

.consult_box {
  text-align: center;
  padding: 15px;
  background-color: lightgrey; }
  .consult_box h2 {
    padding: 0 0 5px; }
  .consult_box h4 {
    font-size: 1rem; }

.feature_box {
  display: inline-block;
  border: 1px solid #000;
  width: 48%;
  padding: 100px 0;
  text-align: center; }

.consultation_block {
  padding: 40px;
  margin: 25px 0;
  background-color: lightgrey;
  text-align: center;
  font-weight: 300; }
  .consultation_block h3 {
    padding: 0 0 15px; }
    @media (min-width: 600px) {
      .consultation_block h3 {
        font-size: 1.8rem; } }

.detail_list li {
  font-size: 0.8125rem;
  list-style: initial;
  margin: 0 0 0 25px;
  padding: 2px 0; }
  @media (min-width: 600px) {
    .detail_list li {
      margin: 0 0 0 45px;
      font-weight: 300;
      font-size: 1.1rem; } }

.sub_header {
  text-align: center;
  padding: 10px 10px;
  background-color: lightgrey; }
  .sub_header #search_box {
    width: 90%;
    height: 1.5625rem; }
    @media (min-width: 600px) {
      .sub_header #search_box {
        width: 40%;
        float: left;
        margin: 0 0 0 10px; } }
  .sub_header .tabs {
    margin: 5px 0 0; }
    .sub_header .tabs li:first-child {
      display: none; }
      @media (min-width: 400px) {
        .sub_header .tabs li:first-child {
          display: inline-block; } }
    .sub_header .tabs li:nth-child(2) {
      border-right: 2px solid #000; }
      @media (min-width: 400px) {
        .sub_header .tabs li:nth-child(2) {
          border-left: 2px solid #000; } }
    .sub_header .tabs li {
      display: inline-block;
      padding: 0 5px; }
    .sub_header .tabs a {
      padding: 0 3px; }
  @media (min-width: 600px) {
    .sub_header {
      text-align: left; } }

.image_grid li {
  display: inline-block;
  text-align: center;
  vertical-align: top;
  width: 100%; }
  @media (min-width: 400px) {
    .image_grid li {
      max-width: 48%; } }
  @media (min-width: 600px) {
    .image_grid li {
      max-width: 27%;
      margin: 0 2.5%; } }
.image_grid img {
  max-width: 100%; }
.image_grid h6 {
  margin: 5px 0;
  font-size: 1.2rem; }

.concept_list li {
  text-align: center;
  margin: 20px 0; }
  @media (min-width: 600px) {
    .concept_list li {
      text-align: left; } }
.concept_list img {
  max-width: 100%;
  margin: 0 0 10px; }
  @media (min-width: 800px) {
    .concept_list img {
      max-width: 47%; } }
@media (min-width: 600px) {
  .concept_list div {
    display: inline-block;
    width: 50%;
    vertical-align: top;
    margin: 0 0 0 10px; } }
@media (min-width: 1024px) {
  .concept_list div {
    width: 65%; } }
.concept_list h4 {
  text-transform: uppercase;
  font-weight: 400; }

.blog_post {
  margin: 35px 0; }
  .blog_post .date {
    width: 100%;
    padding: 5px;
    margin: 10px 0;
    text-align: center;
    background-color: green; }
    @media (min-width: 600px) {
      .blog_post .date {
        text-align: left;
        padding: 0;
        margin: 5px 0;
        background-color: #fff; } }
  .blog_post .post_title {
    margin: 15px 0 10px;
    font-size: 2.0625rem;
    font-weight: 300; }
  .blog_post .byline {
    margin: 0 0 10px; }
  .blog_post .read_more {
    display: inline-block;
    width: 100%;
    margin: 15px 0;
    text-align: center; }
    @media (min-width: 600px) {
      .blog_post .read_more {
        text-align: right; }
        .blog_post .read_more a {
          border: 1px solid #000;
          padding: 3px 12px; } }
  @media (min-width: 400px) {
    .blog_post .img_wrap {
      max-width: 250px;
      float: left;
      margin: 0 15px 15px 0; } }
  .blog_post footer {
    width: 100%;
    margin: 20px 0 0;
    padding: 15px;
    background-color: lightgrey;
    font-size: 1rem; }
    .blog_post footer p {
      display: inline-block; }
    .blog_post footer .tags {
      text-align: left; }
    .blog_post footer .comment_count {
      float: right; }
  @media (min-width: 600px) {
    .blog_post {
      font-size: 0.8125rem; } }

.comment_form {
  display: none;
  margin: 0 0 30px 0; }
  .comment_form h2 {
    font-weight: 300; }
  .comment_form label {
    position: absolute;
    left: -9999px; }
  .comment_form input, .comment_form textarea {
    display: block;
    width: 100%;
    margin: 10px 0;
    padding: 5px; }
  .comment_form button {
    padding: 5px 12px;
    background-color: #000;
    color: #fff; }
  @media (min-width: 600px) {
    .comment_form {
      display: block;
      width: 60%; } }

.recipe_menu {
  text-align: center;
  margin: 25px auto 100px; }
  .recipe_menu li {
    display: inline-block;
    width: 32.5%;
    padding: 10px 0; }
    .recipe_menu li img {
      width: 70px; }
  @media (min-width: 600px) {
    .recipe_menu {
      display: none; } }

.event .date {
  font-size: 1.5rem; }
.event .location, .event .time {
  display: inline-block;
  width: 100%;
  margin: 5px 0; }
.event p {
  margin: 8px 0; }

#main_footer {
  clear: both;
  padding: 25px;
  margin: 25px 0 0;
  border-top: 1px dotted grey;
  text-align: center;
  color: grey;
  font-size: 0.625rem; }

.img_wrap {
  max-width: 100%;
  margin: 15px 0;
  text-align: center; }
  .img_wrap img {
    max-width: 100%; }

.clearfix:after {
  visibility: hidden;
  display: block;
  content: "";
  clear: both;
  height: 0; }
