$primary: #000;
$primary_dark: gray;
$primary_light: lightgray;

@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);
@import 'reset';
@import 'breakpoint';

//===========GENERAL STUFF==========//
html {
    font-size:16px;
}
body {
    font-family: 'Lato', sans-serif;
}

h1 {
    font-size: 2rem; 
}
h2 {
    font-size:1.75rem;
}
h3 {
    font-size:1.5rem;
}
h4 {
    font-size:1.25rem;
}

#pageWrap {
    max-width:1024px;
    @include breakpoint(800){
        margin: 25px auto 0;
    }
}


//==============NAV================
#navWrap {
    position:absolute;
    z-index:1;
    width:70%;
    @include breakpoint(600){
       width:40%;     
    }
    @include breakpoint(800){
        position:relative;
        float:left;
        z-index:3;
        width:30%;
        margin: 0 3% 20px 0; 
        padding:10px;
    }
    @include breakpoint(full){
        width:22%;
    }
}

.main_menu {
    li {
        text-align:center;
        position:relative;
        border-bottom:1px solid #fff;
        background-color:#282828;
    }
    a {
        position:relative;
        display:inline-block;
        z-index:5;
        width:100%;
        padding:15px 20px;
        text-transform:uppercase;
        cursor:pointer;
        color:#fff;
    }
    .parent_link a:before {
        content: '+ ';
    }
    .expanded {
        height:100%;
    }

    @include breakpoint(800){
        margin:0 0 20px 0;
        ul li:first-child {
            border-top:1px dotted #000;
        }
        li {
            border-bottom: 1px dotted #000;
            background-color:#fff;
        }
        a {
            color:$primary_dark;
            padding:20px 20px;
        }
        .parent_link a:hover + ul, .child_menu:hover {
            left:101%;
        } 
        .parent_link:after {
            content: ">";
            position:absolute;
            top:15px;
            right:0px;
            z-index:1;
            font-size:1.5rem;
            color:$primary_dark;
        }
        .parent_link a:before {
            display:none;
        }
    }
}   
.child_menu {
  height:0; 
  overflow:hidden;
  li {
      background-color:#000;
  }
  @include breakpoint(800){
    position:absolute;
    left:-9999px;
    top:-1px;
    z-index:10;
    height:100%;
    overflow:visible;
    li {
        background-color:#fff;
        border-right:2px solid aqua;
        width:200px; 
    }
  }
}

.social_menu {
    text-align:center;
    margin:15px 0;
    li {
        display:inline-block;
        padding:0 5px;
        text-align:center;
        @include breakpoint(full){
            padding:0;
        }
    }
    @include breakpoint(800){
        margin:0;
    }
}
.nav_banner {
    width:90%;
    border:1px solid $primary_dark;
    padding:60px;
    margin:20px auto;
    text-align:center;
}

//====================MAIN============//
#mainWrap {
    position:relative;
    z-index:2;
    width:100%;
    background-color:#fff;
    -webkit-transition:transform 0.5s linear;
    -webkit-transition:-webkit-transform 0.5s linear;
    -moz-transition:-moz-transform 0.5s linear;
    -o-transition:transform 0.5s linear;
    transition:transform 0.5s linear;
    transition:-webkit-transform 0.5s linear;
    transition:-moz-transform 0.5s linear;
    @include breakpoint(800){
        width:67%;
        float:left;
    }
    @include breakpoint(full){
        width:75%;
    }
    main {
        padding:20px 25px 0;
        p {
            font-size:0.8125rem;
            line-height:1rem;
            margin:20px 0;
        }
        section {
          margin:40px 0;
        }
        @include breakpoint(full){
            padding:0;
            p {
              font-size:1.1rem;
              font-weight:300;
            }
        }
    }
}
.shifted {
    -webkit-transform:translateX(70%);
    -moz-transform:translateX(70%);
    -ms-transform:translateX(70%);
    -o-transform:translateX(70%);
    transform:translateX(70%);
    @include breakpoint(600){
      -webkit-transform:translateX(40%);
      -moz-transform:translateX(40%);
      -ms-transform:translateX(40%);
      -o-transform:translateX(40%);
      transform:translateX(40%);
    }
    @include breakpoint(800){
        -webkit-transform: none;
    }
}

//=================HEADER==========//
.page_header {
    hgroup {
        text-align:center;
        width:100%;
        @include breakpoint(800){
            display:inline-block;
            width:48%;
            margin: 0 3% 0 0;
            text-align:left;
            vertical-align:top;
        }
        @include breakpoint(full){
            width:61%;
        }
    }
    @include breakpoint(800){
        margin:15px 0;
    }
}

.lang_select {
    display:none;
    font-size:0.8rem;
    margin:0 0 25px;
    @include breakpoint(800){
        display:block;
    }
} 

.site_name {
    display:block;
    width:100%;
    padding:10px 0;
    background-color:#282828;
    font-size:2rem;
    a {
      color:#fff;
    }
    @include breakpoint(800){
        font-size:3.125rem;
        background-color:#fff;
        a {
        color:#000;
        
        }
    }
}
.tagline {
    display:none;
    font-size:1.375rem;
    @include breakpoint(800){
        display:block; 
        padding:10px 0;
        color:$primary_light;
    }
}

.formWrap {
    display:none;
    width:48%;
    text-align:center;
    background-color:$primary_light;
    padding:15px;
    p {
        font-size:0.8125rem;
    }
    label {
        position:absolute;
        left: -9999px;
    }
    input, select {
        width:100%;
        padding:2px 0;
        margin:3px 0;
    }
    button {
        width:30%;
    }
    @include breakpoint(800){
        display:inline-block;
    }
    @include breakpoint(full){
        width:35%;
    }
}

.burger {
    float:left;
    position:relative;
    top:8px;
    left:15px;
    z-index:5;
    cursor:pointer;
    @include breakpoint(800){
        display:none;
    }
}

.page_title {
    margin:10px 0;
    font-weight:300; 
    @include breakpoint(800){
        width:100%;
        padding:7px 0;
        text-align:center;
        text-transform:uppercase;
        font-size:1.5rem;
        background-color:$primary_light;
    }
}

.quote_block {
    border-top:1px dotted $primary_light;
    border-bottom:1px dotted $primary_light;
    padding:12px 5px;
    margin:15px 0;
    text-align:center;
    font-size:1.5rem;
    font-weight:300;
    letter-spacing:0.5px;
    font-style:italic;
    @include breakpoint(600){
        padding:20px; 
    }

}

.consult_box {
    text-align:center;  
    padding:15px;
    background-color:$primary_light;
    h2 {
      padding:0 0 5px;
    }
    h4 {
      font-size:1rem;
    }
}

.feature_box {
  display:inline-block;
  border:1px solid #000;
  width:48%;
  padding:100px 0;
  text-align:center;
}

.consultation_block {
  padding:40px;
  margin:25px 0;
  background-color:$primary_light;
  text-align:center;
  font-weight:300;
  h3 {
    padding:0 0 15px;
    @include breakpoint(600){
      font-size:1.8rem;
    
    }
  }
}

.detail_list {
  li {
    font-size:0.8125rem;
    list-style:initial;
    margin:0 0 0 25px;
    padding:2px 0;
    @include breakpoint(600){
    margin:0 0 0 45px;
    font-weight:300;
      font-size:1.1rem;
    }
  }
}

//todo: abstract out formwrap so this can extend most of it
.contact_form {
    text-align:center;
    margin:0 auto;
    background-color:$primary_light;
    padding:70px 10px;
    p {
        font-size:0.8125rem;
    }
    label {
        position:absolute;
        left: -9999px;
    }
    input, select {
        width:100%;
        padding:1%;
        margin:7px 0;
    }
    @include breakpoint(full){
    width:70%;
    padding:60px;
    #contact_fname, #contact_lname {
      width:48%;
    }
    #contact_phone {
      width:65%;
    }
    #contact_email {
      width:97%;
    }
    #contact_gender {
      width:32%;
    }
    textarea {
      width:97%;
      margin:7px 0;
      height:100px;
    }
    button {
        text-transform:uppercase;
        width:30%;
    }
    
    }
}

//=============SUB HEAD/SEARCH BAR=======//
.sub_header {
    text-align:center;
    padding:10px 10px;
    background-color:$primary_light;
    #search_box {
        width:90%;
        height:1.5625rem;
        @include breakpoint(600){
            width:40%;
            float:left;
            margin:0 0 0 10px;
        }
    } 
    .tabs {
        margin: 5px 0 0;
        li:first-child {
            display:none;
            @include breakpoint(400){
                display:inline-block;
            }
        }
        li:nth-child(2){
            border-right:2px solid #000;
            @include breakpoint(400){
                border-left:2px solid #000;
            }
        }
        li {
            display:inline-block;
            padding:0 5px;
        }
        a {
            padding:0 3px;
        }

    }
    @include breakpoint(600){
        text-align:left;
    }
}


.image_grid {
  li {
    display:inline-block;
    text-align:center;
    vertical-align:top;
    width:100%;
    @include breakpoint(400){
      max-width:48%;
    }
  }

  &.four {
    li { 
      max-width:47%;
      margin:3px;
      @include breakpoint(600){
        max-width:28%;
        margin:1.5% 2%;
      }
      @include breakpoint(full){
        max-width:20%;
      }
    }
  }

  &.three {
    li { 
      @include breakpoint(600){
        max-width:27%;
        margin:0 2.5%;
      }
    } 
  }

  img {
    max-width:100%; 
  }
  h6 {
    margin:5px 0;
    font-size:1.2rem; 
  }
}

.concept_list {
  li {
    text-align:center;
    margin:20px 0;
    @include breakpoint(600){
      text-align:left;
    } 
  }
  img {
    max-width:100%;
    margin:0 0 10px;
    @include breakpoint(800){
      max-width:47%;
    }
  }
  div {
    @include breakpoint(600){
      display:inline-block;
      width:50%;
      vertical-align:top;
      margin:0 0 0 10px;
    }
    @include breakpoint(full){
      width:65%;
    }
  }
  h4 {
    text-transform: uppercase;
    font-weight:400;
  }
}

//===========BLOG============//

.blog_post {
    margin: 35px 0;
    .date {
        width:100%;
        padding:5px;
        margin: 10px 0;
        text-align:center;
        background-color:green;
        @include breakpoint(600){
            text-align:left;
            padding:0;
            margin:5px 0;
            background-color:#fff;
        }
    }
    .post_title {
        margin:15px 0 10px;
        font-size:2.0625rem;
        font-weight:300;
    }
    .byline {
       margin:0 0 10px; 
    }
    .read_more {
        display:inline-block;
        width:100%;
        margin:15px 0;
        text-align:center;
        @include breakpoint(600){
            text-align:right;
            a {
                border:1px solid #000;
                padding:3px 12px; 
            }
        }
    }
    .img_wrap {
        @include breakpoint(400){
            max-width:250px;
            float:left;
            margin:0 15px 15px 0;
        }
    }
    footer {
        width:100%;
        margin:20px 0 0;
        padding:15px;
        background-color:$primary_light;
        font-size:1rem;
        p {
            display:inline-block;
        }
        .tags {
            text-align:left;
        }
        .comment_count {
            float:right;
        }
    }
    @include breakpoint(600){
        font-size:0.8125rem;
    }

}

//=============COMMENT FORM=============//
.comment_form {
    display:none;
    margin:0 0 30px 0;
    h2 {
        font-weight:300;
    }
    label {
        position:absolute;
        left:-9999px;
    }
    input, textarea {
        display:block;
        width:100%;
        margin: 10px 0;
        padding:5px;
    }
    button {
        padding:5px 12px;
        background-color:#000;
        color:#fff;

    }

    @include breakpoint(600) {
        display:block;
        width:60%;
    }
}

//=============RECIPES============//
.recipe_menu {
    text-align:center;
    margin:25px auto 100px;

    li {
        display:inline-block;
        width:32.5%;
        padding:10px 0;
        img {
            width:70px;
        }
    }
    @include breakpoint(600){
        display:none;
    }
}

//===============EVENTS============//
.event {
    .date {
        font-size:1.5rem;
    }
    .location, .time {
        display:inline-block;
        width:100%;
        margin:5px 0;
    }
    p {
        margin:8px 0;
    }
}


//=============FOOTER============//
#main_footer {
    clear:both;
    padding:25px;
    margin:25px 0 0;
    border-top:1px dotted $primary_dark;
    text-align:center;
    color:$primary_dark;
    font-size:0.625rem;
}

//=============UTIL===========//
.img_wrap {
   max-width:100%; 
   margin:15px 0;
   text-align:center;
   img {
        max-width:100%;
    }
}
.clearfix:after {
    visibility:hidden;
    display:block;
    content:"";
    clear:both;
    height:0;
}
