$default: #000;
$gray: gray;

@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);
@import 'reset';
@import 'breakpoint';

//===========GENERAL STUFF==========//
html {
    font-size:16px;
}
body {
    font-family: 'Lato', sans-serif;
}

h1 {
    font-size: 2rem; 
}
h2 {
    font-size:1.75rem;
}
h3 {
    font-size:1.5rem;
}
h4 {
    font-size:1.25rem;
}

#pageWrap {
    max-width:1024px;
    @include breakpoint(800){
        margin: 25px auto 0;
    }
}


//==============NAV================
#navWrap {
    position:relative;
    z-index:1;
    width:70%;
    @include breakpoint(600){
       width:40%;     
    }
    @include breakpoint(800){
        position:relative;
        float:left;
        z-index:3;
        width:30%;
        margin: 0 3% 20px 0; 
        padding:10px;
    }
    @include breakpoint(full){
        width:22%;
    }
}

nav {
    ul li {
        text-align:center;
        position:relative;
        border-bottom:1px solid #fff;
        background-color:#282828;
        ul {
            height:0; 
            overflow:hidden;
            li {
                background-color:#000;
            }
        }
        .expanded {
            height:100%;
        }
        a, .nolink {
            position:relative;
            display:inline-block;
            z-index:5;
            width:100%;
            padding:15px 20px;
            text-transform:uppercase;
            cursor:pointer;
            color:#fff;
        }
        .parent_link a:before, span:before {
            content: '+ ';
        }
    }

    @include breakpoint(800){
        margin:0 0 20px 0;
        ul li:first-child {
            border-top:1px dotted #000;
        }
        ul li {
            border-bottom: 1px dotted #000;
            background-color:#fff;
            ul {
                position:absolute;
                left:-9999px;
                top:-1px;
                z-index:10;
                height:100%;
                overflow:visible;
                li {
                    background-color:#fff;
                    border-right:2px solid aqua;
                    width:200px; 
                }
            }
            a, .nolink {
                color:$gray;
                padding:20px 20px;
            }
            span:hover + ul, ul:hover {
                left:101%;
            } 
        }
        .parent_link:after {
            content: ">";
            position:absolute;
            top:15px;
            right:0px;
            z-index:1;
            font-size:1.5rem;
            color:$gray;
        }
        .parent_link a:before, span:before {
            display:none;
        }
    }
}   

.social_menu {
    text-align:center;
    margin:15px 0;
    li {
        display:inline-block;
        padding:0 5px;
        text-align:center;
        @include breakpoint(full){
            padding:0;
        }
    }
    @include breakpoint(800){
        margin:0;
    }
}
.nav_banner {
    width:90%;
    border:1px solid gray;
    padding:60px;
    margin:20px auto;
    text-align:center;
}

//====================MAIN============//
#mainWrap {
    position:absolute;
    top:0px;
    left:0px;
    z-index:2;
    width:100%;
    background-color:#fff;
    transition: -webkit-transform 0.5s linear;
    @include breakpoint(800){
        position:relative;
        width:67%;
        float:left;
    }
    @include breakpoint(full){
        width:75%;
    }
    main {
        padding:20px 25px 0;
        p {
            font-size:0.8125rem;
            line-height:1rem;
            margin:20px 0;
        }
        @include breakpoint(full){
            padding:0;
        }
    }
}
.shifted {
    -webkit-transform: translateX(70%);
    @include breakpoint(600){
        -webkit-transform: translateX(40%);
    }
    @include breakpoint(800){
        -webkit-transform: none;
    }
}

//=================HEADER==========//
header {
    hgroup {
        text-align:center;
        width:100%;
        h6 {
            display:none;
            font-size:0.8rem;
            margin:0 0 25px;
            @include breakpoint(800){
                display:block;
            }
        } 
        @include breakpoint(800){
            display:inline-block;
            width:48%;
            margin: 0 3% 0 0;
            text-align:left;
            vertical-align:top;
        }
        @include breakpoint(full){
            width:61%;
        }
    }
    @include breakpoint(800){
        margin:15px 0;
    }
}
.site_name {
    display:block;
    width:100%;
    padding:10px 0;
    color:#fff;
    background-color:#282828;
    font-size:2rem;
    @include breakpoint(800){
        font-size:3.125rem;
        background-color:#fff;
        color:#000;
    }
}
.tagline {
    display:none;
    font-size:1.3125rem;
    @include breakpoint(800){
        display:block; 
        padding:10px 0;
    }
}
.formWrap {
    display:none;
    width:48%;
    text-align:center;
    background-color:lightgray;
    padding:15px;
    p {
        font-size:0.8125rem;
    }
    label {
        position:absolute;
        left: -9999px;
    }
    input, select {
        width:100%;
        padding:2px 0;
        margin:3px 0;
    }
    button {
        width:30%;
    }
    @include breakpoint(800){
        display:inline-block;
    }
    @include breakpoint(full){
        width:35%;
    }
}

.burger {
    float:left;
    position:relative;
    top:8px;
    left:15px;
    z-index:5;
    cursor:pointer;
    @include breakpoint(800){
        display:none;
    }
}

.page_title {
    margin:10px 0;
    font-weight:300;
    @include breakpoint(800){
        width:100%;
        padding:7px 0;
        text-align:center;
        text-transform:uppercase;
        font-size:1.5rem;
        background-color:lightgray;
    }
}

.quote_block {
    border-top:1px dotted lightgray;
    border-bottom:1px dotted lightgray;
    padding:12px 5px;
    margin:15px 0;
    text-align:center;
    font-size:1.5rem;
    font-weight:300;
    letter-spacing:0.5px;
    font-style:italic;
    @include breakpoint(600){
        padding:20px; 
    }

}

.consult_box {
    text-align:center;  
    padding:15px;
    background-color:lightgray;
    h2 {
      padding:0 0 5px;
    }
    h4 {
      font-size:1rem;
    }
}

.feature_box {
  display:inline-block;
  border:1px solid #000;
  width:48%;
  padding:100px 0;
  text-align:center;
}

//=============SUB HEAD/SEARCH BAR=======//
.sub_header {
    text-align:center;
    padding:10px 10px;
    background-color:lightgray;
    #search_box {
        width:90%;
        height:1.5625rem;
        @include breakpoint(600){
            width:40%;
            float:left;
            margin:0 0 0 10px;
        }
    } 
    .tabs {
        margin: 5px 0 0;
        li:first-child {
            display:none;
            @include breakpoint(400){
                display:inline-block;
            }
        }
        li:nth-child(2){
            border-right:2px solid #000;
            @include breakpoint(400){
                border-left:2px solid #000;
            }
        }
        li {
            display:inline-block;
            padding:0 5px;
        }
        a {
            padding:0 3px;
        }

    }
    @include breakpoint(600){
        text-align:left;
    }
}

//===========BLOG============//

.blog_post {
    margin: 35px 0;
    .date {
        width:100%;
        padding:5px;
        margin: 10px 0;
        text-align:center;
        background-color:green;
        @include breakpoint(600){
            text-align:left;
            padding:0;
            margin:5px 0;
            background-color:#fff;
        }
    }
    .post_title {
        margin:15px 0 10px;
        font-size:2.0625rem;
        font-weight:300;
    }
    .byline {
       margin:0 0 10px; 
    }
    .read_more {
        display:inline-block;
        width:100%;
        margin:15px 0;
        text-align:center;
        @include breakpoint(600){
            text-align:right;
            a {
                border:1px solid #000;
                padding:3px 12px; 
            }
        }
    }
    .img_wrap {
        @include breakpoint(400){
            max-width:250px;
            float:left;
            margin:0 15px 15px 0;
        }
    }
    footer {
        width:100%;
        margin:20px 0 0;
        padding:15px;
        background-color:lightgray;
        font-size:1rem;
        p {
            display:inline-block;
        }
        .tags {
            text-align:left;
        }
        .comment_count {
            float:right;
        }
    }
    @include breakpoint(600){
        font-size:0.8125rem;
    }

}

//=============COMMENT FORM=============//
.comment_form {
    display:none;
    margin:0 0 30px 0;
    h2 {
        font-weight:300;
    }
    label {
        position:absolute;
        left:-9999px;
    }
    input, textarea {
        display:block;
        width:100%;
        margin: 10px 0;
        padding:5px;
    }
    button {
        padding:5px 12px;
        background-color:#000;
        color:#fff;

    }

    @include breakpoint(600) {
        display:block;
        width:60%;
    }
}

//=============RECIPES============//
.recipe_menu {
    text-align:center;
    margin:25px auto 100px;

    li {
        display:inline-block;
        width:32.5%;
        padding:10px 0;
        img {
            width:70px;
        }
    }
    @include breakpoint(600){
        display:none;
    }
}

//===============EVENTS============//
.event {
    .date {
        font-size:1.5rem;
    }
    .location, .time {
        display:inline-block;
        width:100%;
        margin:5px 0;
    }
    p {
        margin:8px 0;
    }
}


//=============FOOTER============//
#main_footer {
    clear:both;
    padding:25px;
    margin:25px 0 0;
    border-top:1px dotted $gray;
    text-align:center;
    color:$gray;
    font-size:0.625rem;
}

//=============UTIL===========//
.img_wrap {
   max-width:100%; 
   margin:15px 0;
   text-align:center;
   img {
        max-width:100%;
    }
}
.clearfix:after {
    visibility:hidden;
    display:block;
    content:"";
    clear:both;
    height:0;
}
